body {
  background-color: #252a34;
}

hr {
  background-color: #08d9d6;
  border-style: none;
  height: 2px;
}

h1 {
  color: #eaeaea;
}

h3 {
  color: #eaeaea;
}

p {
  color: #eaeaea;
}

li {
  color: #eaeaea;
}

td {
  color: #eaeaea;
}

th {
  color: #eaeaea;
}
